.container {
  margin: 1rem;
}
.mat-card-actions {
  display: flex;
  justify-content: center
}
.mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mat-card-image {
  max-height: 500px;
  max-width: 500px;
}
.row-wrap {
  display: flex;
  align-items: center;
}
.content {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;

    &__element-label {
      display: flex;
      justify-content: space-between;
    }
}
.patient-name {
  margin-top: 1rem;
}
.parameter {
  display: block;
  padding: 20px;
}
.parameter-name{
  display: flex;
  flex-direction: column;
}
