<div class="container">
  <mat-card class="">


          <mat-card-header>
            <!-- tutaj jakie informacje -->
          </mat-card-header>
          <img mat-card-image [src]='comingImage'  alt="Photo of a random cat">
          <mat-card-content>

          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" (click)="getData()">preview</button>
            <button mat-button color="warn" (click)="captureImage()">capture</button>
          </mat-card-actions>
          <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
  </mat-card>
</div>
