<div class="container">
  <mat-card class="">


    <mat-card-header>
      <!-- tutaj jakie informacje -->
    </mat-card-header>

    <mat-card-content>
      <img mat-card-image [src]='comingImage' alt="Photo of a random cat">


      <mat-card-actions>
        <button mat-button color="primary" (click)="getDataOnClick()">{{titleBtn}}</button>
        <button mat-button color="warn" (click)="captureImage(); hideBtn()" [disabled]="!disableBtn">{{titleCptBtn}}</button>
      </mat-card-actions>
    </mat-card-content>

    <mat-card-actions class="row-wrap">
      <mat-slider color="warn" min="0" max="3" step="1" value="1" vertical="vertical" tick-interval="tickInterval">radiation</mat-slider>
      <mat-slider color="primary" min="0" max="3" step="1" value="2" vertical="vertical" tick-interval="tickInterval">radiation</mat-slider>
      <mat-slider color="accent" min="0" max="3" step="1" value="3" vertical="vertical" tick-interval="tickInterval">radiation</mat-slider>

      <mat-slide-toggle class="example-margin" color="warn">
        Extra xRay
      </mat-slide-toggle>
    </mat-card-actions>
  </mat-card>
</div>
