<div class="container">
  <mat-card class="content">
    <mat-card-content>
      <mat-card-title>
        <h1>Pikachu Team</h1>
      </mat-card-title>
      <p>
        <img class="logo" src="assets/pikachu.png" alt="angular logo" />
      </p>
      <div><span>Monika Rymsza</span></div>
      <div><span>Łukasz Matuszak</span></div>
      <div><span>Kacper Borkowski</span></div>
      <div><span>Bartłomiej Chołost</span></div>
      <div><span>Scrum Master: Paulina Hudziak</span></div>   
    </mat-card-content>
  </mat-card>
  <mat-card-footer class="footer">
    <p>© 2018 Tieto Winter Academy ALL RIGHTS RESERVED</p>
  </mat-card-footer>
</div>