@import "src/theme/theme-variables";

:host {
  display: flex;
  flex: 1;
  background-color: #f5f5f5;
}

.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
  color: mat-color($app-text);
}

.login-container,
.mat-form-field {
  width: 100%;
}

.login-error {
  color: mat-color($app-warn);
}
h1 {
  color: mat-color($app-text);
}
.mat-typography {
  background-color: mat-color($app-primary);

}
.mat-card {
  background-color: mat-color($app-secondary);
}
.mat-card-footer {
  color: mat-color($app-text);
}
.mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: mat-color($app-accent);
}