<div class="container">
  <mat-card class="content">
    <h1>
      <mat-card-title translate>Select the machine</mat-card-title>
    </h1>
    <form>
      <mat-form-field>
        <mat-select placeholder="Available machines" [(ngModel)]="selectedValue" name="food">
          <mat-option *ngFor="let machine of dataSource" [value]="machine.value">
            {{machine.machine}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <mat-card-actions class="control">
      <button mat-raised-button color="warn" type="submit">{{titleSaveButton}}</button>
    </mat-card-actions>
  </mat-card>
</div>