<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" [disableClose]="!isMobile"
                 ngClass.gt-sm="has-border">
      <mat-toolbar color="primary">
        <span translate>xRay</span>
        <div fxFlex></div>
        <div>
          <button mat-icon-button [matMenuTriggerFor]="userMenu" translate>
            <mat-icon>person</mat-icon>
          </button>
          <button mat-icon-button (click)="sidenav.close()" translate class="closeButton">
              <mat-icon>close</mat-icon>
            </button>
          <mat-menu #userMenu="matMenu">
            <mat-list>
              <mat-list-item>
                <span translate>Logged in as</span>&nbsp;<b>{{username}}</b>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
            <button mat-menu-item (click)="logout()" translate>Logout</button>
          </mat-menu>
        </div>
      </mat-toolbar>
      <nav>
        <mat-list>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/home" routerLinkActive="active">
            <span translate>Home</span>
          </a>
          <mat-divider></mat-divider> <mat-divider></mat-divider>
          <a mat-list-item routerLink="/about" routerLinkActive="active" >
            <span translate>About</span>
          </a>
          <mat-divider></mat-divider> <mat-divider></mat-divider>
          <a mat-list-item routerLink="/xray" routerLinkActive="active" >
            <span translate>xRay panel</span>
          </a>
          <mat-divider></mat-divider> <mat-divider></mat-divider>
          <a mat-list-item routerLink="/logstore" routerLinkActive="active" >
            <span translate>Log Store</span>
          </a>
          <mat-divider></mat-divider> <mat-divider></mat-divider>
          <a mat-list-item routerLink="/reconfig" routerLinkActive="active" >
            <span translate>Change the machine</span>
          </a>
          <mat-divider></mat-divider>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="mat-elevation-z6">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{title}}</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

