.container {
  text-align: center;
  padding: 1em;

}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#tieto{
  margin-top: 5%;
  width:10%;
  height:10%
}

.sub-head {
  font-size: 1.2rem;
}


.btn-connect {
margin-bottom: 1.3rem;
}

.mat-progress-bar {
  max-width: 350px;
}

.mat-card {
  min-height: 75vh;
}
.mat-card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer{
  position: fixed;
  text-align: center;
  top: 90%;
  right: 4%;
  font-size: 0.7rem;
}
// .contener--bottom{
//   padding-bottom: 10rem; //maybe it shoud be changed, need to test wit server connection
// }
