<div class="container">
  <mat-card class="content">
    <mat-card-content>
      <h1 [hidden]="isLoading" *ngIf="isLoading">Hello {{ username }}
        <br> and welcome in {{ deviceName }} app
      </h1>
      <!-- xRay app będzie zamienione na zazwę dostarczaną z backu -->
      <h2 class="sub-head" [hidden]="isLoading">{{ ipAdress }}

        <br [hidden]="isLoading"> {{ version }}
      </h2>
      <!-- też będzie podstawiane -->
    </mat-card-content>

    <mat-card-content *ngIf="!visible">
      <mat-progress-spinner color="warn" mode="determinate" value="100" size="4">
      </mat-progress-spinner>
      <h2>Not connected</h2>
    </mat-card-content>
    <mat-card-content class="contener--bottom">
      <mat-card-subtitle *ngIf="visible">
        <app-loader [isLoading]="isLoading" size="4" color="warn">
        </app-loader>
        <h2 [hidden]="!isLoading">connecting...</h2>
        <h2 [hidden]="isLoading"> Your are connected</h2>
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
  <mat-card-footer class="footer">	&copy; pikachuTeam - winter academy tieto</mat-card-footer>
</div>
